html, body {
    overflow-x: hidden;
}
html {
    height: 100%;
    width: 100%;   
}
body {
    font-family: 'Gafata', sans-serif;
    font-size: 1.2em;
    background-color: linen;
}

h1 {
    font-size: 2.2em !important;
}

a {
    color: royalblue;
    text-decoration: none;
}
a:hover, a:focus {
    color: plum;
    text-decoration: none;
    transition: color 0.3s;
}

.help-tooltip {
    cursor: help;
}
.fa-question-circle {
    color: chocolate;
}
.tooltip > .tooltip-inner {
    max-width: 350px !important;
    text-align: left !important;
    white-space: normal !important;
    padding: 12px 16px;
    background-color: #d2e4f0;
    color: black; 
    border: 1px solid black; 
    font-size: 1.1em;
}
.tooltip-inner ul, .tooltip-inner li {
    text-align: left !important;
    margin-left: 1.2em;
    padding-left: 0;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 0.9em;
    }
}

.legend {
    line-height: 10px;
    color: #555;
    text-align: left;
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.legend i {
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.modal-plot {
    width: 92%;
    margin: 20px 20px;
    padding-bottom: 30px;
    padding-top: 10px;
}
#myModal h1 {
    text-align: left;
}
#myModal p {
    text-align: left;
}
#myModal {
    --bs-modal-padding: 3rem;
}

.afford_calc_box {
    background-color: #ffdfbf;
}
.postcode_table_box {
    background-color: #f3e6ff;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #b2df8a;
    border-color: #b2df8a;
    --bs-btn-active-bg: #b2df8a;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1f78b4;
    border-color: #1f78b4;
    --bs-btn-active-bg: #1f78b4;
}
.form-check-input:checked {
    background-color: #fb9a99;
    border-color: #fb9a99;
}
.active > .page-link, .page-link.active {
    background-color: #a473ab;
    border-color: #a473ab;
}
.page-link, .page-link:hover, .page-link:focus {
    color: #5a338b;
}

#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(252,252,236,0.9);
    z-index: 1100;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    transition: opacity 0.7s;
    opacity: 1;
}
#loading.fade-out {
    opacity: 0;
    pointer-events: none;
}
#loading img {
    width: 280px;
    max-width: 80vw;
    height: auto;
    animation: fadeIn 1500ms;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
#loading p {
    font-size: 1.5rem;
}

@media screen and (max-width: 450px) {
    #loading {
        padding-bottom: 80px;
    }
}

.github-hover:hover {
    color: #4078c0 !important;
    transition: color 0.2s;
}

div.dataTables_info {
    font-size: 0.85em;
}